.text {
    width: inherit;
}

.textArea {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

.checked {
    color:green;
    /*font-weight:bold;*/
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav ul {
    list-style-type: none;
    padding:0;
}

.sidenav ul li {
    font-size: 1em;
    font-weight: normal;
    color: white;
    cursor: default;
    padding: 10px;
    /*text-align: center;*/
}



.sidenav ul li .selected {
    background-color: cornflowerblue;
}

.content {
    margin-left:250px;
    padding: 10px;
    padding-top: 80px;
}

.unchecked.hidden {
    visibility: hidden;
}

.text {
    margin-bottom:30px;
}

html.theme-black {
    background:black;
}

html.theme-black .text,
html.theme-black .option,
html.theme-black #timer {
    color:white;
}

.inline {
    padding-left:10px;
    display: flex;
    align-items: center;
    justify-content: baseline;
}

.inline > div {
    margin-right:10px;
}

.arrowUp {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAZlBMVEX///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////+rG8stAAAAIXRSTlMAAwYMFRgkJzY5S05RZmlsfoGHmZyftLfJ2Nve6u3w8/wsbK8xAAAAjUlEQVR4Ad3Q3RZCUBRFYUIpJf9JJ8z3f8mGIcWxt/v6bue6Ws4fcktKd2uQAMlGD3ugD9XuNQzunjbIGeVKj5icxO4bJsaXBhVfldBj5i6rfuiY6/ZW39Us1dahKbZ00Y89C/ah3oO1ZnZogaT49DOy6N2DJzITjIMbFuvQK7p4GBh0ZhhkLZo2c37DC4/mLIHi+AcdAAAAAElFTkSuQmCC);
    width: 32px;
    height: 32px;
}

.arrowUp:active {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAABlBMVEX///+hoajiaUJbAAAAAXRSTlMAQObYZgAAADVJREFUeAHdyiEBADAMwLDHv+lLKBnZStN3MJBDOeXkUE45OZRTTjk9hFNOD+GU00M4M8OCPm7CAXjFxn7fAAAAAElFTkSuQmCC);
    width: 32px;
    height: 32px;
}

.arrowDown {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAY1BMVEX///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////+Dm4mgAAAAIHRSTlMAAwYMFRgnNjlLTlFmaWx+gYSKmZyforS3ydve6u3z/NeQcvMAAACJSURBVHgB3dANGkJAFAXQKz+kRFGiYe7+V5nyKWPeW0CdJRz8hgtVwxkTQ53BpKDuhJeWmjveYkPZEGOWU3bAoqGkwUfY0/cI8ZVZbtkMaxW3KjiCjq5uB1cycm1MsHXkWgGPE9pCEBkuTATJnoscspqzGg4vtA+hSS1Jm0JXkiwBXXDlLcAfegIE0is63jwb8AAAAABJRU5ErkJggg==);
    width: 32px;
    height: 32px;
}

.arrowDown:active {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAABlBMVEX///+hoajiaUJbAAAAAXRSTlMAQObYZgAAADVJREFUeAHVyiEBACAAxMCjf2kaMIP52ZuNzqs/g/IelFPeg3LKe1BOOeU9KKe8B+WEx7DcBaYgAXhLaI+GAAAAAElFTkSuQmCC);
    width: 32px;
    height: 32px;
}

.speak {
	color:white;
	cursor: default;
}